:root{
  --background:darkslategrey;
  --font:30px;
  --textcolor:white;
  --altbackground:silver;
  --alttextcolor:red;
}

body{
  background-color: grey;
}

header{
  border:solid 6px black;
  justify-content: center;
  display: flex;
  font-size: var(--font);
  background-color: darkslategray;
  color:var(--textcolor);
  margin: 20px;
}

nav{
border: 6px solid black;
color: var(--textcolor);
display: flex;
background-color: var(--background);
justify-content: center;
}

a{
  color:var(--textcolor);
  font-size: 35px;
  text-align: center;
  padding: 14px 20px;
}

h2{
  border:solid 6px black;
  justify-content: center;
  font-size:var(--font);
  background-color:var(--background);
  color:white;
  margin: 20px;
  text-align: center;
}

.about{
  border:solid 6px black;
  justify-content: center;
  font-size:var(--font);
  background-color: var(--background);
  color:var(--textcolor);
  width: 400px;
  margin-top: 0px;
  margin-bottom: 0px;
}

img{
  display: flex;
  width: 400px;
  padding: 10px;
  border: 8px solid black;
  background-color:var(--textcolor);
  
  
}

#aboutme{
  display: flex;
  justify-content: center;
}

h3{
  display: flex;
  justify-content: center;
  border: 6px solid black;
  background-color: var(--background);
  color:var(--textcolor);
}

.Contact{
  display: flex;
  justify-content: space-around;
  border: 6px solid black;
  background-color:var(--background);
  color: var(--textcolor);
  ;
}

.Projects{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#firstapp{
  width: 700px;
}

.placeholder{
  border: solid black 3px;
}

@media screen and (max-width: 768px) {
  #aboutme {
    background-color: maroon;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
  nav {
    background-color: var(--altbackground);
    flex-direction: column;
    border: 6px solid grey;
    
  }
}

@media screen and (max-width: 768px) {
  header {
    background-color:var(--altbackground);
    border: 6px solid grey;
    color: var(--alttextcolor);
    flex-wrap: wrap;
    font-size: 15px;
    
  }
}
@media screen and (max-width: 768px) {
  a {
    color: var(--alttextcolor);
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color:maroon ;
    
  }
}

@media screen and (max-width: 768px) {
  h2{
  border:solid 6px grey;
  justify-content: center;
  display: flex;
  font-size: 30px;
  text-align: center;
  background-color: var(--altbackground);
  color: var(--alttextcolor); 
  }
}

@media screen and (max-width: 768px) {
  .about{
  border:solid 6px grey;
  justify-content: center;
  display: flex;
  font-size: 30px;
  background-color:var(--altbackground);
  color: var(--alttextcolor);
  margin: 20px;
  width: 400px; ; 
  }
}

@media screen and (max-width: 768px) {
  h3{
  border:solid 6px grey;
  justify-content: center;
  display: flex;
  font-size: 30px;
  text-align: center;
  background-color:var(--altbackground);
  color: var(--alttextcolor); 
  }
}

@media screen and (max-width: 768px) {
  .Contact{
  border:solid 6px grey;
  justify-content: center;
  display: flex;
  text-align: center;
  background-color:var(--altbackground);
  color: var(--alttextcolor); 
  justify-content: space-evenly;
  }
}

@media screen and (max-width: 768px) {
  img {
    background-color: var(--altbackground);
    border: 6px solid grey;
    color:  var(--alttextcolor);
    flex-wrap: wrap;
    width: 300px;
  }
}

  @media screen and (max-width: 768px) {
    #firstapp {
      background-color:var(--altbackground);
      border: 6px solid grey;
      color:  var(--alttextcolor);
      flex-wrap: wrap;
      width: 400px;
    }
  }