body{
  background-color: grey;
}

header{
  border:solid 6px black;
  justify-content: center;
  display: flex;
  font-size: 30px;
  background-color: darkslategray;
  color:white;
  margin: 20px;
}

nav{
border: 6px solid black;
color: aliceblue;
display: flex;
background-color: darkslategray;
justify-content: center;
}

a{
  color: white;
  font-size: 35px;
  text-align: center;
  padding: 14px 20px;
}

h2{
  border:solid 6px black;
  justify-content: center;
  display: flex;
  font-size: 30px;
  background-color: darkslategray;
  color:white;
  margin: 20px;
  width: 400px;
}

p{
  border:solid 6px black;
  justify-content: center;
  display: flex;
  font-size: 30px;
  background-color: darkslategray;
  color:white;
  margin: 20px;
  width: 400px;

}

img{
  width: 500px;
  display: flex;
  justify-content: center;
}
 


@media screen and (max-width: 768px) {
  nav {
    background-color: silver;
    flex-direction: column;
    border: 6px solid grey;
    
  }
}

@media screen and (max-width: 768px) {
  header {
    background-color: silver;
    flex-direction: column;
    text-align: center;
    border: 6px solid grey;
    color: red;
  }
}

@media screen and (max-width: 768px) {
  a {
    color:red ;
    
  }
}

@media screen and (max-width: 768px) {
  body {
    background-color:maroon ;
    
  }
}

@media screen and (max-width: 768px) {
  h2{
  border:solid 6px grey;
  justify-content: center;
  display: flex;
  font-size: 30px;
  background-color: silver;
  color:red;
  margin: 20px;
  width: 400px; ; 
  }
}

@media screen and (max-width: 768px) {
  p1{
  border:solid 6px grey;
  justify-content: center;
  display: flex;
  font-size: 30px;
  background-color: silver;
  color:red;
  margin: 20px;
  width: 400px; ; 
  }
}
